<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
                <a class="btn btn-outline-success me-3 ps-3 pe-3" role="button" routerLink="/bettors" routerLinkActive="active">Bettors</a>
                <a class="btn btn-outline-primary me-3 ps-3 pe-3" routerLink="/horses" routerLinkActive="active">Horses</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>